* {
	border: none;
	border-radius: 10;
    font-family: "monospace";
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#battery{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s; 
}
#battery:hover{
    color: #111C32;
    background: #39efe2;
}
#backlight:hover{
    color: #111C32;
    background: #39efe2;
}
#backlight{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s; 
}
#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#language:hover{
    color: #111C32; 
    background: #39efe2; 
}
#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#pulseaudio:hover{ 
    background: #39efe2;
    color: #111C32;
}
#pulseaudio.muted {
    color: #FEE5E4;
    background: #111C32; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: #39efe2;
    color: #111C32; 

}
#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#clock:hover {
    color: #111C32; 
    background: #39efe2;
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#disk:hover{
    color: #111C32; 
    background: #39efe2;
}
#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#memory:hover { 
    color: #111C32; 
    background: #39efe2;

}
#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#cpu:hover {
    color: #111C32; 
    background: #39efe2;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: #111C32; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    color: #FEE5E4;
    transition: 0.3s;
}

#workspaces button {
    color: #FEE5E4;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}
#tray{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #111C32; 
    color: #FEE5E4;
    border-bottom: 3px;
    border-style: solid;
    border-color: #39efe2;
    transition: 0.3s;
}
